version: 2.1

orbs:
  maven: circleci/maven@1.0.3

commands:
  configure-gpg:
    steps:
      - run:
          name: Configure GPG private key for signing project artifacts in OSS Sonatype
          command: |
            echo $GPG_BASE64 | base64 --decode | gpg --batch --no-tty --import --yes

jobs:
  test:
    parameters:
      java-version:
        type: string
    executor:
      name: maven/default
      tag: << parameters.java-version >>
    steps:
      - checkout
      - maven/with_cache:
          steps:
            - run: mvn clean test

  package:
    executor:
      name: maven/default
      tag: "11.0"
    steps:
      - checkout
      - maven/with_cache:
          steps:
            - run: mkdir -p ~/artifacts
            - run: mvn clean package -Dmaven.test.skip=true -DoutputDirectory=~/artifacts
            - persist_to_workspace:
                root: ~/
                paths:
                  - artifacts
            - store_artifacts:
                path: ~/artifacts

  publish_github:
    docker:
      - image: cibuilds/github:0.13.0
    steps:
      - run:
          name: "Publish Release on GitHub"
          command: |
            echo "about to publish to tag ${CIRCLE_TAG}"
            ghr -draft -n ${CIRCLE_TAG} -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG}
  publish_maven:
    docker:
      - image: circleci/openjdk:11-jdk
    steps:
      - restore_cache:
          key: beeline-java-{{ checksum ".circleci/config.yml" }}
      - configure-gpg
      - run:
          name: "Publish to Sonatype / Maven Central"
          command: |
            echo "Publishing tag ${CIRCLE_TAG} to Sontatype / Maven Central"
            ./mvnw -s .circleci/maven-release-settings.xml clean deploy -DskipTests
      - save_cache:
          paths:
            - ~/.m2
          key: beeline-java-{{ checksum ".circleci/config.yml" }}

workflows:
  version: 2
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - test: &test
          matrix:
            parameters:
              java-version:
                - "8.0"
                - "11.0"
  build:
    jobs:
      - test:
          <<: *test
          filters:
            tags:
              only: /.*/
      - package:
          requires:
            - test
          filters:
            tags:
              only: /.*/
      - publish_github:
          context: Honeycomb Secrets
          requires:
            - package
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - publish_maven:
          requires:
            - package
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
